/*----------------------------------------
------------------------------------------
	## FOOTER
------------------------------------------
----------------------------------------*/

#footer {
    background-color: $black;
    padding: 50px 0;

    @media #{$mq-xs-max} {
    	padding: 40px 0;
    	text-align: center;
    }

    .logo {
    	float: left;
    	display: inline-block;

    	@media #{$mq-xs-max} {
    		float: none;
    	}

    	img,
    	svg {
    		width: 200px;
    		height: 40px;

    		@media #{$mq-xs-max} {
    			width: 150px;
                height: 30px;
    		}
    	} // END IMG / SVG
    } // END LOGO

    p {
    	color: $white;
    	text-align: right;
    	float: right;

    	@media #{$mq-xs-max} {
    		float: none;
    		text-align: center;
    		padding-top: 10px;
    	}
    } // END P
} // END FOOTER