/*----------------------------------------
------------------------------------------
	## TOP MENU
------------------------------------------
----------------------------------------*/

#top-menu {
    position: absolute;
    width: 100%;
    z-index: 998;
    margin: 0 auto;
    display: block;
    left: 0;
    top: 60px;

    @media #{$mq-lg-max} {
        top: 50px;
    }

    @media #{$mq-md-max} {
        top: 40px;
    }

    @media #{$mq-sm-max} {
        top: 30px;
    }

    @media #{$mq-xs-max} {
        top: 25px;
    }

    .logo {
        float: left;
        display: inline-block;

        &:hover,
        &:focus {
            img,
            svg {
                path,
                polygon,
                rect {
                    fill: $pink;
                } // END PATH
            } // END IMG / SVG
        } // END HOVER / FOCUS

        img,
        svg {
            width: 300px;
            height: auto;

            @media #{$mq-xl-max} {
                width: 250px;
                height: auto;
            }

            @media #{$mq-sm-max} {
                width: 200px;
            }

            path,
            polygon,
            rect {
                transition: .3s;
            } // END PATH
        } // END IMG / SVG
    } // END LOGO

    .right-menu {
        float: right;
        text-align: right;
        padding-top: 12px;

        @media #{$mq-xl-max} {
            padding-top: 8px;
        }

        @media #{$mq-sm-max} {
            padding-top: 5px;
        }

        li {
            display: inline-block;
            vertical-align: middle;

            &.desk {
                @media #{$mq-md-max} {
                    display: none;
                }
            } // END DESK

            &.sep {
                @media #{$mq-md-max} {
                    display: none;
                }

                p {
                    padding: 0 20px;
                    color: $white;

                    @media #{$mq-xl-max} {
                        padding: 0 15px;
                    }

                    @media #{$mq-lg-max} {
                        padding: 0 10px;
                    }
                } // END P
            } // END SEP

            a.title-small {
                color: $white;
                display: inline-block;
                overflow: hidden;
                background: linear-gradient(to right, $pink, $pink 50%, $white 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: 100%;
                transition: .3s;
                padding: 0 1px;

                &:hover,
                &:focus {
                    background-position: 0 110%;
                } // END HOVER / FOCUS
            } // END TITLE SMALL
        } // END LI

        .social {
            padding-left: 20px;

            @media #{$mq-xl-max} {
                padding-left: 15px;
            }

            @media #{$mq-lg-max} {
                padding-left: 10px;
            }

            @media #{$mq-sm-max} {
                display: none;
            }

            li {
                padding-left: 20px;

                @media #{$mq-xl-max} {
                    padding-left: 15px;
                }

                @media #{$mq-lg-max} {
                    padding-left: 10px;
                }

                &:nth-child(1) {
                    padding-right: 5px;

                    @media #{$mq-lg-max} {
                        padding-right: 3px;
                    }
                } // END NTH CHILD 1

                a {
                    display: inline-block;

                    &:hover,
                    &:focus {
                        svg {
                            path {
                                fill: $pink;
                            } // END PATH
                        } // END SVG
                    } // END HOVER / FOCUS

                    svg {
                        display: inline-block;
                        width: 20px;
                        height: 20px;

                        @media #{$mq-md-max} {
                            width: 25px;
                            height: 25px;
                        }

                        path {
                            fill: $white;
                            transition: .3s;
                        } // END PATH
                    } // END SVG
                } // END A
            } // END LI
        } // END SOCIAL

        .menu {
            display: none;

            @media #{$mq-md-max} {
                display: inline-block;
            }

            button {
                display: inline-block;
                margin-left: 10px;
                padding: 0;

                &:hover,
                &:focus {
                    svg {
                        path {
                            fill: $pink;
                        } // END PATH
                    } // END SVG
                } // END HOVER / FOCUS

                svg {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    transform: translateY(-1px);

                    path {
                        fill: $white;
                        transition: .3s;
                    } // END PATH
                } // END SVG
            } // END BUTTON
        } // END MENU
    } // END RIGHT MENU
} // END TOP MENU

#floating-fs {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $pink;
    z-index: 999;
    display: none;
    transition: 1s;
    margin-top: -200px;

    @media #{$mq-md-max} {
        display: block;
    }

    &.visible {
        margin-top: 0;
    } // END VISIBLE

    &:hover,
    &:focus {
        background-color: $black;
    } // END HOVER / FOCUS

    img,
    svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        path {
            fill: $white;
        } // END PATH
    } // END IMG / SVG
} // END FLOATING FS