.btn {
	padding: 8px 20px;
	border-radius: 2px;
	outline: none;
	border: none;
	cursor: pointer;
}

.btn--primary {
	background-color: $white;
	color: $gray-dark;
	border: 1px solid $white;
}

.btn--outline {
	background-color: transparent;
	color: $white;
	padding: 8px 20px;
	border: 1px solid $white;
	transition: all 0.3s ease-out;
}

.btn--medium {
	padding: 8px 20px;
	font-size: 18px;
}

.btn--large {
	padding: 12px 26px;
	font-size: 20px;
}

.btn--large
.btn--medium {
	&:hover,
	&:focus {
		transition: all 0.3s ease-out;
		background: $white;
		color: $gray-dark;
		transition: 250ms;
	}
}
