/*----------------------------------------
------------------------------------------
	## HOME
------------------------------------------
----------------------------------------*/

body.home {
	.body-scroll {
		overflow: hidden;
		height: 100%;
		height: 100vh;
	} // END BODY OVERFLOW

	#lines {
		position: fixed;
		z-index: 0;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;

		@media #{$mq-xs-max} {
			display: none;
		}

		.container {
			height: 100%;

			.row {
				height: 100%;

				.col-12 {
					position: relative;

					.line {
						position: absolute;
						top: 0;
						display: block;
						width: 1px;
						height: 100%;
						background-color: $almost-white;

						&:nth-child(1) {
							left: 0;
						} // END NTH CHILD 1

						&:nth-child(2) {
							left: 25%;

							@media #{$mq-md-max} {
								display: none;
							}
						} // END NTH CHILD 2

						&:nth-child(3) {
							left: 50%;
						} // END NTH CHILD 3

						&:nth-child(4) {
							left: 75%;

							@media #{$mq-md-max} {
								display: none;
							}
						} // END NTH CHILD 4

						&:nth-child(5) {
							right: 0;
						} // END NTH CHILD 5
					} // END LINE
				} // END COL 12
			} // END ROW
		} // END CONTAINER
	} // END LINES

	#banner-top {
		z-index: 3;
		overflow: visible;

		.bg {
			background: $black url(../img/banner-top-bg.jpg) center top / cover no-repeat;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 150px);

			@media #{$mq-xxl-max} {
				height: calc(100% - 130px);
				background-size: contain;
			}

			@media #{$mq-xl-max} {
				height: calc(100% - 100px);
			}

			@media #{$mq-lg-max} {
				height: calc(100% - 70px);
			}

			@media #{$mq-sm-max} {
				height: calc(100% - 40px);
				//background-image: none;
			}
		} // END BG
		
		.col-12 {
			position: relative;
			z-index: 2;
			padding-top: 300px;
			padding-bottom: 300px;

			@media #{$mq-xxl-max} {
				padding-top: 280px;
				padding-bottom: 280px;
			}

			@media #{$mq-xl-max} {
				padding-top: 270px;
				padding-bottom: 250px;
			}

			@media #{$mq-lg-max} {
				padding-top: 250px;
				padding-bottom: 200px;
			}

			@media #{$mq-md-max} {
				padding-top: 200px;
				padding-bottom: 180px;
			}

			@media #{$mq-sm-max} {
				padding-top: 100px;
				padding-bottom: 120px;
			}

			@media #{$mq-xs-max} {
				padding-top: 70px;
				padding-bottom: 90px;
			}

			.title-bigger {
				position: relative;
				z-index: 2;
				color: $white;

				@media #{$mq-xl-max} {
					width: 300px;
					display: block;
				}

				@media #{$mq-sm-max} {
					padding-top: 50px;
				}

				span {
					display: inline-block;
					background-color: $pink;
					padding: 5px 20px;

					@media #{$mq-md-max} {
						padding: 5px 15px;
					}
				} // END SPAN
			} // END TITLE BIGGER

			.text-medium {
				position: relative;
				z-index: 2;
				color: $white;
				display: block;
				width: 550px;
				max-width: 100%;
				margin: 40px 0;

				@media #{$mq-lg-max} {
					margin: 35px 0;
					width: 500px;
				}

				@media #{$mq-md-max} {
					width: 350px;
					margin: 30px 0;
				}

				@media #{$mq-xs-max} {
					width: 70%;
				}
			} // END TEXT MEDIUM

			.pink-button {
				position: relative;
				z-index: 2;
			} // END PINK BUTTON

			.big-image {
				position: absolute;
				z-index: 1;
				bottom: 0;
				right: 0;
				display: block;
				width: 50%;
				height: 80%;
				background: url(../img/banner-top-photo.jpg) center center / cover no-repeat;

				@media #{$mq-sm-max} {
					height: 85%;
				}
			} // END BIG IMAGE

			.scroll {
				position: absolute;
				z-index: 3;
				right: -50px;
				bottom: 200px;
				display: inline-block;
				cursor: pointer;

				@media #{$mq-xxl-max} {
					bottom: 180px;
				}

				@media #{$mq-xl-max} {
					bottom: 150px;
				}

				@media #{$mq-lg-max} {
					display: none;
				}

				&:hover,
				&:focus {
					img,
					svg {
						path {
							fill: $pink;
						} // END PATH
					} // END IMG / SVG
				} // END HOVER / FOCUS

				img,
				svg {
					width: 12px;
					height: auto;

					path {
						transition: .3s;
					} // END PATH
				} // END IMG / SVG
			} // END SCROLL

			.pink-line {
				position: absolute;
				width: 1px;
				height: 600px;
				display: block;
				left: 9%;
				background-color: $pink;
				top: 75%;

				@media #{$mq-xxl-max} {
					top: 77%;
				}

				@media #{$mq-xl-max} {
					top: 80%;
					height: 500px;
				}

				@media #{$mq-lg-max} {
					top: 83%;
					left: 11%;
					height: 400px;
				}

				@media #{$mq-md-max} {
					left: 9%;
					height: 200px;
				}

				@media #{$mq-sm-max} {
					top: 88%;
					left: 10%;
					height: 150px;
				}

				@media #{$mq-xs-max} {
					top: 90%;
					height: 120px;
				}

				 @media #{$mq-xxs-max} {
				 	height: 90px;
				 }
			} // END PINK LINK
		} // END COL 12
	} // END BANNER TOP

	#about-me {
		z-index: 2;
		padding-top: 130px;
		padding-bottom: 150px;

		@media #{$mq-xl-max} {
			padding-bottom: 120px;
		}

		@media #{$mq-lg-max} {
			padding-bottom: 100px;
		}

		@media #{$mq-md-max} {
			padding-top: 80px;
			padding-bottom: 0;
		}

		@media #{$mq-xs-max} {
			padding-top: 70px;
		}

		@media #{$mq-xxs-max} {
			padding-top: 50px;
		}

		.left {
			position: relative;
			z-index: 1;

			.title-bigger {
				color: $pink;
				white-space: nowrap;
				display: none;
				margin-bottom: 30px;

				@media #{$mq-md-max} {
					display: block;
				}

				@media #{$mq-xs-max} {
					margin-bottom: 20px;
				}

				span {
					color: $gray-lightest;
					-webkit-text-fill-color: $white;
					-webkit-text-stroke-width: 2px;
					-webkit-text-stroke-color: $gray-lightest;
				} // END SPAN
			} // END TITLE BIGGER

			.gray-block {
				position: absolute;
				z-index: 1;
				top: -100px;
				left: -30px;
				display: block;
				width: 150px;
				height: 500px;
				background-color: $almost-white;

				@media #{$mq-md-max} {
					display: none;
				}
			} // END GRAY BLOCK

			.circle {
				position: absolute;
				z-index: 4;
				right: 100px;
				bottom: 100px;
				width: 170px;
				height: 170px;
				animation: rotation 30s linear infinite;

				@media #{$mq-md-max} {
					bottom: 50px;
					right: 50px;
				}

				@media #{$mq-xs-max} {
					width: 130px;
					height: 130px;
					right: 30px;
					bottom: 30px;
				}

				path {
					fill: $white;
				} // END PATH
			} // END CIRCLE

			.big-image {
				display: block;
				position: relative;
				z-index: 2;
				width: 100%;
				height: 100%;
				background: url(../img/about-big.jpg) center center / cover no-repeat;

				@media #{$mq-md-max} {
					height: 450px;
					margin-left: -15px;
					width: calc(100% + 30px);
				}

				@media #{$mq-xxs-max} {
					height: 400px;
				}
			} // END BIG IMAGE

			.pink-image {
				position: absolute;
				z-index: 3;
				display: block;
				bottom: -150px;
				right: -50px;
				width: 230px;
				height: 87%;
				background: url(../img/about-pink.jpg) center center / cover no-repeat;

				@media #{$mq-xl-max} {
					bottom: -120px;
				}

				@media #{$mq-lg-max} {
					bottom: -100px;
				}

				@media #{$mq-md-max} {
					display: none;
				}
			} // END PINK IMAGE
		} // END LEFT

		.right {
			position: relative;
			z-index: 2;
			padding-top: 70px;

			@media #{$mq-lg-max} {
				padding-top: 50px;
			}

			@media #{$mq-md-max} {
				padding-top: 40px;
			}

			@media #{$mq-xs-max} {
				padding-top: 30px;
			}

			.title-bigger {
				color: $pink;
				white-space: nowrap;
				float: right;

				@media #{$mq-md-max} {
					display: none;
				}

				span {
					color: $gray-lightest;
					-webkit-text-fill-color: $white;
					-webkit-text-stroke-width: 2px;
					-webkit-text-stroke-color: $gray-lightest;
				} // END SPAN
			} // END TITLE BIGGER

			.text-medium {
				padding-left: 100px;
				padding-right: 20px;
				display: block;
				margin: 50px 0 60px 0;
				color: $gray-medium;

				@media #{$mq-xl-max} {
					padding-left: 80px;
					padding-right: 0;
				}

				@media #{$mq-lg-max} {
					margin: 40px 0;
				}

				@media #{$mq-md-max} {
					padding-left: 0;
					margin-top: 0;
				}
			} // END TEXT MEDIUM

			.logos {
				text-align: right;
				padding-right: 20px;

				@media #{$mq-xl-max} {
					padding-right: 0;
				}

				@media #{$mq-md-max} {
					text-align: left;
				}

				img,
				svg {
					width: 200px;
					height: auto;

					@media #{$mq-xs-max} {
						width: 150px;
					}

					&:hover,
					&:focus {
						path,
						polygon {
							fill: $gray-medium;
						} // END PATH
					} // END HOVER / FOCUS

					path,
					polygon {
						fill: $gray-dark;
						transition: .3s;
					} // END PATH
				} // END IMG / SVG
			} // END LOGOS
		} // END RIGHT
	} // END ABOUT ME

	#services-and-plans {
		z-index: 2;
		padding: 150px 0 120px 0;

		@media #{$mq-lg-max} {
			padding: 130px 0 100px 0;
		}

		@media #{$mq-md-max} {
			padding: 100px 0 20px 0;
		}

		@media #{$mq-sm-max} {
			padding-top: 70px;
		}

		@media #{$mq-xs-max} {
			padding-top: 50px;
		}
		
		.top {
			text-align: center;
			padding-bottom: 130px;

			@media #{$mq-lg-max} {
				padding-bottom: 100px;
			}

			@media #{$mq-md-max} {
				padding-bottom: 50px;
				text-align: left;
			}

			@media #{$mq-sm-max} {
				padding-bottom: 30px;
			}

			@media #{$mq-xs-max} {
				padding-bottom: 20px;
			}

			.title-bigger {
				color: $pink;

				span {
					color: $gray-lightest;
					-webkit-text-fill-color: $white;
					-webkit-text-stroke-width: 2px;
					-webkit-text-stroke-color: $gray-lightest;
				} // END SPAN
			} // END TITLE BIGGER
		} // END TOP

		.left,
		.right {
			@media #{$mq-md-max} {
				padding-bottom: 70px;
			}

			@media #{$mq-xs-max} {
				padding-bottom: 50px;
			}

			@media #{$mq-xxs-max} {
				padding-bottom: 40px;
			}

			.title {
				@media #{$mq-md-max} {
					display: block;
					background-color: $gray-medium;
					padding: 25px 100px 20px 30px;
					position: relative;
				}

				@media #{$mq-xs-max} {
					padding: 20px 80px 15px 25px;
				}

				.title-big {
					display: inline-block;
					vertical-align: middle;
					color: $pink;

					@media #{$mq-md-max} {
						color: $white;
					}
				} // END TITLE BIG

				img,
				svg {
					display: inline-block;
					vertical-align: middle;
					width: 60px;
					height: 60px;
					margin-left: 10px;

					@media #{$mq-lg-max} {
						width: 50px;
						height: 50px;
					}

					@media #{$mq-md-max} {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 25px;
						width: 60px;
						height: 60px;
					}

					@media #{$mq-xs-max} {
						width: 45px;
						height: 45px;
						right: 20px;
					}

					path {
						fill: $pink;

						@media #{$mq-md-max} {
							fill: $white;
						}
					} // END PATH
				} // END IMG / SVG

				.text-big {
					display: block;
					color: $gray-medium;
					margin-top: 10px;
					font-weight: $bold;

					@media #{$mq-md-max} {
						margin-top: 0;
						color: $white;
					}

					@media #{$mq-sm-max} {
						margin-top: 5px;
					}

					@media #{$mq-xs-max} {
						margin-top: 3px;
					}

					.text-medium {
						font-size: 20px;
						font-weight: $regular;

						@media #{$mq-lg-max} {
							font-size: 18px;
						}
					} // END TEXT MEDIUM
				} // END TEXT BIG
			} // END TITLE

			.div {
				display: block;
				width: 100%;
				height: 1px;
				background-color: $gray-lightest;
				margin: 30px 0 40px 0;

				@media #{$mq-md-max} {
					display: none;
				}
			} // END DIV

			.list {
				display: block;
				margin-bottom: 40px;

				@media #{$mq-md-max} {
					margin-top: 30px;
					margin-bottom: 30px;
				}

				@media #{$mq-xs-max} {
					margin-top: 20px;
					margin-bottom: 20px;
				}

				.line {
					display: block;
					position: relative;
					margin-bottom: 20px;

					@media #{$mq-md-max} {
						// margin-bottom: 15px;
						margin-bottom: 0;
						padding: 10px 0;
					}

					@media #{$mq-xs-max} {
						// margin-bottom: 10px;
					}

					&:nth-child(odd) {
						@media #{$mq-md-max} {
							background-color: $almost-white;
						}
					} // END NTH CHILD EVEN

					&.yes {
						img,
						svg {
							path {
								fill: $pink;
							} // END PATH
						} // END IMG / SVG

						.text-medium {
							color: $gray-medium;
						} // END TEXT MEDIUM
					} // END YES

					&.no {
						img,
						svg {
							path {
								fill: $gray-lighter;
							} // END PATH
						} // END IMG / SVG

						.text-medium {
							color: $gray-lighter;
						} // END TEXT MEDIUM
					} // END NO

					img,
					svg {
						display: block;
						width: 20px;
						height: 20px;
						position: absolute;
						top: 8px;
						left: 0;

						@media #{$mq-lg-max} {
							top: 6px;
						}

						@media #{$mq-md-max} {
							width: 18px;
							height: 18px;
							top: 17px;
							left: 17px;
						}
					} // END IMG / SVG

					.text-medium {
						display: block;
						padding-left: 30px;

						@media #{$mq-md-max} {
							padding-left: 45px;
							padding-right: 20px;
						}
					} // END TEXT MEDIUM
				} // END LINE
			} // END LIST

			.pink-button {
				@media #{$mq-xs-max} {
					display: block;
					width: 100%;
					text-align: center;
				}
			} // END PINK BUTTON
		} // END LEFT / RIGHT
	} // END SERVICES AND PLANS

	#video {
		z-index: 2;
		background: $black;
		padding: 200px 0;
		text-align: center;

		@media #{$mq-xl-max} {
			padding: 180px 0;
		}

		@media #{$mq-lg-max} {
			padding: 150px 0;
		}

		@media #{$mq-md-max} {
			padding: 130px 0;
		}

		@media #{$mq-xs-max} {
			padding: 100px 0;
		}

		video {
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			opacity: .2;
		} // END VIDEO

		.container {
			position: relative;
			z-index: 2;

			a {
				display: inline-block;
				cursor: pointer;

				&:hover,
				&:focus {
					.title-big {
						color: $pink;
					} // END TITLE BIG

					.icon {
						.circle {
							transform: translate(-50%, -50%) scale(1.5);
						} // END CIRCLE

						img,
						svg {
							path {
								fill: $pink;
							} // END PATH
						} // END IMG / SVG
					} // END ICON
				} // END HOVER / FOCUS

				.title-big {
					display: inline-block;
					vertical-align: middle;
					color: $white;
					transition: .3s;
					position: relative;
					z-index: 3;
				} // END TITLE BIG

				.icon {
					display: inline-block;
					vertical-align: middle;
					position: relative;
					z-index: 1;
					width: 200px;
					height: 200px;

					@media #{$mq-sm-max} {
						width: 150px;
						height: 150px;
					}

					@media #{$mq-xs-max} {
						width: 120px;
						height: 120px;
					}

					@media #{$mq-xxs-max} {
						width: 80px;
						height: 80px;
					}

					.circle {
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 100%;
						height: 100%;
						border-radius: 50%;
						box-shadow: inset 0 0 0 1px $white;
						transition: .3s;

						@media #{$mq-xs-max} {
							width: 140%;
							height: 140%;
						}

						&:before,
						&:after {
							border-radius: 5000px;
							box-sizing: border-box;
							content: "";
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
						} // END BEFORE / AFTER

						&:before {
							animation: ripple 2s ease-out infinite;
							border: solid 1px $white;
						} // END BEFORE

						&:after {
							animation: ripple 2s 1s ease-out infinite;
							border: solid 2px $white;
						} // END AFTER
					} // END CIRCLE

					img,
					svg {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);

						@media #{$mq-sm-max} {
							width: 30px;
							height: 30px;
						}

						@media #{$mq-xs-max} {
							width: 20px;
							height: 20px;
						}

						path {
							fill: $white;
							transition: .3s;
						} // END PATH
					} // END IMG / SVG
				} // END ICON
			} // END A
		} // END CONTAINER
	} // END VIDEO

	#contact-me {
		z-index: 2;
		
		.top {
			padding: 130px 0;

			@media #{$mq-xxl-max} {
				padding: 110px 0 100px 0;
			}

			@media #{$mq-lg-max} {
				padding: 100px 0 80px 0;
			}

			@media #{$mq-md-max} {
				padding: 80px 0 60px 0;
			}

			@media #{$mq-sm-max} {
				padding: 60px 0 40px 0;
			}

			@media #{$mq-xs-max} {
				padding: 50px 0 30px 0;
			}

			@media #{$mq-xxs-max} {
				padding-top: 40px;
			}

			.left {
				.title-bigger {
					color: $pink;

					span {
						color: $gray-lightest;
						-webkit-text-fill-color: $white;
						-webkit-text-stroke-width: 2px;
						-webkit-text-stroke-color: $gray-lightest;
					} // END SPAN

					br {
						@media #{$mq-sm-max} {
							display: none;
						}
					} // END BR
				} // END TITLE BIGGER
			} // END LEFT

			.right {
				@media #{$mq-sm-max} {
					padding-top: 30px;
				}

				@media #{$mq-xxs-max} {
					padding-top: 20px;
				}

				p {
					color: $gray-medium;

					br {
						@media #{$mq-sm-max} {
							margin-top: 5px;
						}
					} // END BR

					.links {
						@media #{$mq-sm-max} {
							margin-top: 30px;
							display: block;
						}

						a {
							color: $gray-dark;
							font-weight: $bold;
			                display: inline-block;
			                overflow: hidden;
			                background: linear-gradient(to right, $pink, $pink 50%, $gray-dark 50%);
			                background-clip: text;
			                -webkit-background-clip: text;
			                -webkit-text-fill-color: transparent;
			                background-size: 200% 100%;
			                background-position: 100%;
			                transition: .3s;
			                padding: 0 1px;
			                line-height: 1;

			                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
								background: transparent;
							}

			                &:hover,
			                &:focus {
			                    background-position: 0 110%;

			                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
									color: $pink;
								}
			                } // END HOVER / FOCUS
						} // END A
					} // END LINKS
				} // END P
			} // END RIGHT
		} // END TOP

		.bottom {
			padding-bottom: 130px;

			@media #{$mq-xxl-max} {
				padding-bottom: 110px;
			}

			@media #{$mq-lg-max} {
				padding-bottom: 100px;
			}

			@media #{$mq-md-max} {
				padding-bottom: 80px;
			}

			@media #{$mq-xs-max} {
				padding-bottom: 70px;
			}

			form {
				.input-field {
					display: block;
					margin-top: 0;
					margin-bottom: 50px;

					@media #{$mq-lg-max} {
						margin-bottom: 40px;
					}

					@media #{$mq-sm-max} {
						margin-bottom: 20px;
					}

					input,
					textarea {
						color: $gray-medium;
					} // END INPUT / TEXTAREA

					textarea {
						height: 100%;
						display: block;
						min-height: 100%;
					} // END TEXTAREA
				} // END INPUT FIELD

				.right {
					.input-field {
						height: calc(100% - 58px);

						@media #{$mq-lg-max} {
							height: calc(100% - 48px);
						}

						@media #{$mq-sm-max} {
							height: 200px;
						}

						@media #{$mq-xs-max} {
							height: 150px;
						}
					} // END INPUT FIELD
				} // END RIGHT

				.last {
					text-align: right;

					label {
						@media #{$mq-xs-max} {
							display: block;
							width: 100%;
							text-align: center;
						}
					} // END LABEL
				} // END LAST
			} // END FORM
		} // END BOTTOM
	} // END CONTACT ME

	.hiddendiv {
		display: none!important;
		width: 0!important;
	} // END HIDDENDIV
} // END BODY / HOME