/* VARIABLES */
@import 'inc/classes-and-variables';

/* LAYOUT PARTS (USE THESE TO CREATE THE MAIN.CSS) */
@import 'inc/base';
@import 'inc/fs-menu';
@import 'inc/top-menu';
@import 'inc/footer';

/* PAGES */
@import 'home';